apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kafka-data
  namespace: bankmore
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: default
